*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

body{
    background: #EFEEE3;
    color: #000;
}

.container{
    padding: 10px 10%;
}

/* flex means so they can be side by side */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #d9603b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%
}

.header-text{
    margin-top: 20px;
    font-size: 30px;
}

.header-text h1{
    font-size: 35px;
    margin-top: 20px;
}

.header-text h1 span{
    color: #d9603b
}

/*---------------about----------*/
#about{
    padding: 80px 0;
    color: #d9603b;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 150%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 45%;
    color: #000;
}

.sub-title{
    font-size: 50px;
    font-weight: 600;
    color: #d9603b;
}

.tab-title{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #000;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #d9603b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #d9603b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #d9603b;
    transition: background 0.5s;
}

.btn:hover{
    background: #d9603b
}